<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <%- include('../partials/header') %>
    <div class="container">
        <h1>Change your profile name</h1>
        <form action="/edit-profile" method="post" class="Shortner_form"
         enctype="multipart/form-data" > 
         <div>
         

            <div>
                <label for="profile">profile</label>
                <input type="file" name="avatar" accept="image/*">
            </div>
            <div class="inpute_div ">
        <label for="name">name</label>
        <input type="text" name="name" id="name" value="<%=  name%>">
        </div>
         <span>
                <%if(errors && errors.length>0){%>
                    <%errors.forEach((error)=>{%>
                   <p class="erorr_class" id="warning"> <%=error%></p>
                   <%})%>
                <%}%>
            </span>
        <button type="submit" id="Shortner_button">change</button>
        </form>
    </div>
</body>
</html>