<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="container">
        
         
               <h1>Reset password page</h1>
        <form action="/reset-password" class="Shortner_form" method="post">
    <div class="inpute_div">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
    </div>
    <span>
                <%if(errors && errors.length>0){%>
                    <%errors.forEach((error)=>{%>
                   <p class="erorr_class" id="warning"> <%=error%></p>
                   <%})%>
                <%}%>
            </span>
    <button type="submit" id="Shortner_button">submit</button>
    <%if(formsubmitted =="true"){%>
                    <p>If the email that you have given us
                     is correct,we have send email to reset password to your email </p>
                <%}else{%>
                    <%}%>
    </div>
    </form>
     
</body>
</html>