<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <%- include('../partials/header') %>
     <div class="container">
   <h1>Email verify page</h1>

    <% if(user) {%>
        <p>✅ you are logged in</p>
        <%}else{%>
        <p>❌ you are logged in</p>
        <%}%>


        <div>
    <form action="/resend-verification-link" method="post" class="Shortner_form">
    <p>email:✉️<%= user.email%></p>
    <span>
        <ul>
   <li class="urls_li"><p>your email is not been verify yet.please verify your email by entering the 8 digit code or request a new verification link </p> </li> 
    </ul>
    </span>
    <button type="submit" id="Shortner_button">resend verificarion link</button>
    </form>
    </div>


    <div>
    <form action="/verify-email-token" method="get" class="Shortner_form">
        <div class="inpute_div">
            <label for="token">Enter OTP</label>
            <input type="text" 
             name="token"
             id="token"
             maxlength="8"
             required
             placeholder="please enter 8 digit number">
             <input  type="hidden" value="<%=user.email%>"name="email">
              
        </div>
        <button type="submit" id="Shortner_button">Verify code</button>
    </form>
    </div>
    </div>
</body>
</html>