.header_div{
    display: flex;
    background-color: #73C8D2;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 3;
    height: 72px;
}

.header_div ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_div a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 800;
}
ul{
    list-style: none;
}

#image_div{
    width: 60px;
    margin-right: 5px;
    border-radius: 5px;
    background: aqua;
    height: 72px;
    display: flex
;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
#image_div img{
    height: 50px;
    border-radius: 5px;
    margin-top: 4px;
}
#image_div p{
    margin: 0;
    font-size: 13px;
}
.erorr_class{
    color: red;
    margin: 0;
    background: lavender;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid
}