
.login{
    margin-top: 100px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.login form{
 display: flex;
    flex-direction: column;
    width: 40%;
    background-color: aliceblue;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    align-items: center;
}
.login form span{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
        width: 80%;
}
.login button{
    width: 100px;
    height: 30px;
    border: none ;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
}
#button_span{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    /* background-color: green; */
    justify-content: center;
}
.login input{
    margin-top: 5px;
    border: none;
    outline: none;
    /* width: 70%; */
        width: 100%;
    height: 35px;
    border: 1px solid;
}
label{
    font-size: x-large;
}

