*{
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
       padding: 10px;
     top: 100px;
    /* left: 50%;
    transform: translate(-50%,-50%); */ 
 border: 1px solid black;
 background-color:aliceblue;
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
   
  
}
.hello{
    width: 100px;
    background-color: aqua;
}
body{
    
    display: flex;
    justify-content: center;
}

.inpute_div{
    display: flex;
 
    flex-direction: column;
    width: 80%;
}

.Shortner_form{
    width: 100%;
  
    align-items: center;
    display: flex
;
    flex-direction: column;
    gap: 10px;
}

#Shortner_button{
    margin-bottom: 10px;
    padding: 10px;
    background-color: orange;
    border-radius: 4px;
    color: white;
    border: 0.5px;
    font-size: x-large;
    cursor: pointer;
}

input{
       margin-top: 4px;
        height: 35px;
        font-size: large;
}
label{
    font-size: x-large;
}

#warning{
    background: lavender;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid;
}

.urls_li{
    background: antiquewhite;
    padding: 5px;
    border: 1px solid;
    margin-bottom: 4px;
} 
 .urls_ul{
    width: 80%;
}
.delete_button{
   
    background-color: transparent;
    border: none;
}
#url_div{
        display: flex
;
    justify-content: space-between;
}

#url_first_div{
    width: fit-content;
  
}

#url_second_div{
   
    display: flex
;
    align-items: center;
    gap: 3px;
}
#url_second_div a{
    text-decoration: none;
}
.buttons_div{
    display: flex;
    /* background-color: red; */
    flex-direction: column;
}